/* CSS declarations go here */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 0.8em;
}

li {
	cursor: pointer;
}

li:hover{
	background: gray;
	color: white;
}
